body{
	background-color: #ffffff;
}

h1,h2,h3,h4,h5{
	font-family: 'CircularStd-Bold';
}

header{
	width: 100%;
	position: relative;
	padding-top: 25px;
	padding-bottom: 25px;
}

main{
	width: 100%;
	position: relative;
	padding-top: 50px;
	padding-bottom: 50px;
}

article{
	width: 100%;
	position: relative;
	padding-bottom: 65px;
}

.container-grid{
	width: 100%;
	max-width: 1200px;
	position: relative;
	margin: 0 auto;
}

#progress{
	width: 100%;
	height: 15px;
	position: relative;
	overflow: hidden;
	border: 1px solid $color-divider;
	background-color: $color-accent;
}

#bar{
	top: 0;
	left: 0;
	height: 100%;
	position: absolute;
	background-color: $color-text;
}

