body{
	background-color: #F8F8F6;
	font-family: 'Montserrat', sans-serif;
}

main{
	width: 100%;
	position: relative;
	padding-top: 20px;
	padding-bottom: 100px;
}

/* =Navs
-----------------------------------------------------------------------------*/
.owl-nav{
	.owl-prev{
		position: absolute;
		top: 50%;
		left: 0;
		//STYLE
		@extend .nav-border-prev;

		&.disabled{
			cursor: not-allowed;
			filter: alpha(opacity=65);
			-webkit-box-shadow: none;
			box-shadow: none;
			opacity: .65;
		}
	}
	.owl-next{
		position: absolute;
		top: 50%;
		right: 0;
		//STYLE
		@extend .nav-border-next;

		&.disabled{
			cursor: not-allowed;
			filter: alpha(opacity=65);
			-webkit-box-shadow: none;
			box-shadow: none;
			opacity: .65;
		}
	}
}

.nav-border-prev{
	width: 50px;
	height: 50px;
	border: 2px solid white;
	&:before{
		content: '\f104';
		font-family: 'FontAwesome';
		color: white;
		font-size: 25px;
		top: 50%;
		left: 50%;
		position: absolute;
		-moz-transform: translateX(-50%) translateY(-50%);
		-webkit-transform: translateX(-50%) translateY(-50%);
		-o-transform: translateX(-50%) translateY(-50%);
		-ms-transform: translateX(-50%) translateY(-50%);
		transform: translateX(-50%) translateY(-50%);
	}
}

.nav-border-next{
	width: 50px;
	height: 50px;
	border: 2px solid white;
	&:before{
		content: '\f105 ';
		font-family: 'FontAwesome';
		color: white;
		font-size: 25px;
		top: 50%;
		left: 50%;
		position: absolute;
		-moz-transform: translateX(-50%) translateY(-50%);
		-webkit-transform: translateX(-50%) translateY(-50%);
		-o-transform: translateX(-50%) translateY(-50%);
		-ms-transform: translateX(-50%) translateY(-50%);
		transform: translateX(-50%) translateY(-50%);
	}
}

/* =Dots
-----------------------------------------------------------------------------*/
.owl-dots{
	position: absolute;
	bottom: 50px;
	left: 50%;
	display: flex;
	-moz-transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);

	.owl-dot{
		@extend .dots-border;
		&.active{
			background-color: #E931B9;
		}
	}
}

.dots-border{
	width: 10px;
	height: 10px;
	margin-right: 10px;
	background-color: white;
	position: relative;
}

/* =Items
-----------------------------------------------------------------------------*/
.slider{
	with: 100%;
	position: relative;
}

.item{
	width: 100%;
	position: relative;
	background-color: #563D7C;
}

.item--small{
	height: 250px;
}

.item--medium{
	height: 500px;
}

.item__container{
	position: absolute;
	top: 50%;
	left: 50%;
	-moz-transform: translateX(-50%) translateY(-50%);
	-webkit-transform: translateX(-50%) translateY(-50%);
	-o-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
	h4{
		color: white;
		font-size: 3em;
	}
}