# = NPM
# ----------------------------------------------------------------------
bower_components
node_modules

# = FILES
# ----------------------------------------------------------------------
.DS_Store
.Trashes

# = PAGES
# ----------------------------------------------------------------------
*.zip
*.log
*.php
*.html

# = CONFIG
# ----------------------------------------------------------------------
prepros-6.config
prepros.config
prepros.cfg